.login-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.toolbar {
  position: absolute;
  width: 100%;
  top: 0;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.button-field {
  display: flex;
  justify-content: space-between;
}
