<section class="home-frame">
  <p>
    <mat-toolbar color="primary" class="toolbar">
      <button (click)="toggleNav()" mat-icon-button class="example-icon"
              aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>👋Hallo ...</span>
      <span class="spacer"></span>
      <button mat-raised-button color="accent">Add card</button>
    </mat-toolbar>
  </p>

  <section *ngIf="shownav" class="side-nav">
    <div class="content">
      <h1>Kanban board</h1>
      <nav>
        <button mat-button>Logout</button>
      </nav>
    </div>
    <div (click)="toggleNav()" class="overlay"></div>
  </section>

  <section cdkDropListGroup class="cards-frame">
    <div class="todo">
      <h2>Todo</h2>
      <div cdkDropList id="todo" (cdkDropListDropped)="drop($event, 'todo')" class="tasks">
        <app-card *ngFor="let task of todo" cdkDrag cdkDragData="{{JSON.stringify(task)}}" [task]="task"></app-card>
      </div>
    </div>
    <div class="in-progress">
      <h2>In progress</h2>
      <div cdkDropList id="inprogress" (cdkDropListDropped)="drop($event, 'inprogress')" class="tasks">
        <app-card *ngFor="let task of inprogress" cdkDrag cdkDragData="{{JSON.stringify(task)}}" [task]="task"></app-card>
      </div>
    </div>
    <div class="await-feedback">
      <h2>Await Feedback</h2>
      <div cdkDropList id="awaitfeedback" (cdkDropListDropped)="drop($event, 'awaitfeedback')" class="tasks">
        <app-card *ngFor="let task of awaitfeedback" cdkDrag cdkDragData="{{JSON.stringify(task)}}" [task]="task"></app-card>
      </div>
    </div>
    <div class="done">
      <h2>Done</h2>
      <div cdkDropList id="done" (cdkDropListDropped)="drop($event, 'done')" class="tasks">
        <app-card *ngFor="let task of done" cdkDrag cdkDragData="{{JSON.stringify(task)}}" [task]="task"></app-card>
      </div>
    </div>
  </section>

</section>
